<!-- <h3>Welcome {{emailId}}!</h3> -->
<h1 align="center">Products</h1> <br/>
<div class="container">
  <div class="row">
      <div class="col-lg-3" *ngFor="let product of products">
          <div class="card" style="width:300px;">
              <img class="card-img-top" [src]="product.imgsrc" alt="Card image" style="width:100%; margin-top: 5px;">
              <div class="card-body">
                  <h4 class="card-title">{{product.name}}</h4>
                  <p class="card-text">{{product.description}}</p>
                  <p class="card-text"><b>Price: <s>₹45000/-</s> ₹{{product.price}}/- </b></p>
                  <p align="right"><button (click)="addToCart(product)" class="btn btn-primary">AddToCart</button> </p>              </div>
          </div>
      </div>
  </div>
</div>




<!-- <div class="container">
  <div class="row">
      <div class="col-lg-3">
          <div class="card" style="width:300px; margin: 5px;">
              <img class="card-img-top"src="assets/Images/10001.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
              <div class="card-body">
                  <h4 class="card-title">Nokia</h4>
                  <p class="card-text">No Cost EMI Applicable</p>
                  <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                  <p align="right">
                      <button class="btn btn-primary">AddToCart</button>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-lg-3">
          <div class="card" style="width:300px; margin: 5px;">
              <img class="card-img-top"src="assets/Images/10002.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
              <div class="card-body">
                  <h4 class="card-title">Nokia</h4>
                  <p class="card-text">No Cost EMI Applicable</p>
                  <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                  <p align="right">
                      <button class="btn btn-primary">AddToCart</button>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-lg-3">
          <div class="card" style="width:300px; margin: 5px;">
              <img class="card-img-top"src="assets/Images/10003.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
              <div class="card-body">
                  <h4 class="card-title">Nokia</h4>
                  <p class="card-text">No Cost EMI Applicable</p>
                  <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                  <p align="right">
                      <button class="btn btn-primary">AddToCart</button>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

-->










