<div align="center">

    <form #employee="ngForm" (ngSubmit)="getEmpById(employee.value)">
        <table>
            <tr>
                <td align="right">Enter Employee ID</td>
                <td align="left"><input type="text" name="empId" ngModel /></td>
            </tr>
            <tr>
                <td></td>
                <td align="left"><button>GetEmployee</button></td>
            </tr>
        </table>
    </form>
</div>
<br/>


<div *ngIf="emp; else notfound" align="center" class="container">
    
        <table class="table table-hover table-striped table-sm table-bordered">
            <thead>
                <tr align="center">
                    <th class="bg-info text-white">EmpId</th>
                    <th class="bg-info text-white">EmpName</th>
                    <th class="bg-info text-white">Salary</th>
                    <th class="bg-info text-white">Gender</th>
                    <th class="bg-info text-white">DateOfJoin</th>
                    <th class="bg-info text-white">Country</th>
                    <th class="bg-info text-white">Email-Id</th>
                    <th class="bg-info text-white">Password</th>
                </tr>
            </thead>
        <tbody>
            <tr align="center">
                <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.emailId}}</td>
                <td>{{emp.password}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <ng-template #notfound>
        <h4 align="center">Employee record not found</h4>
    </ng-template>
</div>
